<div class='row header'>

    <div class='col-sm-12 text-center'>

        <a class='btn btn-success' href='/'>Return to Main Page</a>

    </div>

</div>

{{#each articles}}

<div class='card'>

    <div class='card-header'>

        <div class='row'>
            <div class='col-sm-8'>
                <a href={ {this.link}}>
                    <h4>{{this.title}}</h4>
                </a>
            </div>

            <div class='col-sm-2'>

                <button class='btn btn-info text-center launch' data-id={{this.id}}>View comments</button>

            </div>

            <div class='col-sm-2'>

                <button class='btn btn-danger text-center remove' id={{this.id}}>Remove article</button>

            </div>

        </div>
    </div>

    <div class='card-body'>
        <p class='card-text'>{{this.summary}}</p>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="commentsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">

                </h5>
            </div>
            <div class="modal-body">

                <div id='commentWindow'></div>

                <form>
                    <div class="form-group">
                        <label for="enterComment">Enter your comment here</label>
                        <input type="text" class="form-control" id="enterComment" placeholder="Type comment here">
                    </div>
                </form>

            </div>

            <div class="modal-footer">
                <button class="btn btn-primary postComment">Post comment</button>
                <button class="btn btn-secondary closeModal">Close</button>
            </div>
        </div>
    </div>
</div>

{{/each}}