.card {
   margin-bottom: 8px; 
}

.header {
    margin-bottom: 25px;
}

#commentWindow {
    height: 150px;
    overflow: auto;
    background-color: white;
    text-align: left;
    border: 2px solid black;
    margin-bottom: 10px;
}

.form-control {
    margin-bottom: 5px;
}